html, body {
    padding: 0;
    margin: 0;
    background: #f9f6f0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table a {
    color: #ec8618;
}

h2 {
    font-weight: 400;
    color: #3ea377;
    font-family: "Oswald", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.table th, .fc-widget-header th {
    padding: 15px 20px !important;
    color: #6e6a61;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    background: #d4cfc6;
}

.table tr {
    background-color: white;
}

.table td, .fc-widget-content td {
    padding: 10px 20px;
    color: #595143;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border-bottom: solid 1px #e4e1da;
}

.table tr td:first-child {
    text-align: center;
}

.table tr td:nth-child(2) {
    color: #ec8618;
}

.controls {
    float: right;
    display: flex;
}

label {
    color: #746a5b;
    margin-top: 10px;
    display: block;
}

.input {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    display: block;
    margin: 5px 0;
    width: 100%;
    max-width: 360px;
    outline: none;
}

select.input {
    max-width: 400px;
}

.editor-wrapper {
    width: 100%;
    max-width: 385px;
    margin: auto;
}

.button {
    margin: 5px;
    background-color: #174432;
    padding: 10px 20px;
    color: #4cb88a;
    border: none;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
}

.button:hover {
    color: white;
}

.calendar-wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
}

.calendar-wrapper .calendar-note {
    flex: 0 1 300px;
    padding: 20px 10px;
}

.calendar-wrapper .fc {
    flex: 1;
    padding: 20px 10px;
    min-width: 300px;
    max-width: 1200px;
}

.colour-square {
    border-radius: 3px;
    width: 25px;
    height: 25px;
    background-color: #3ea377;
    margin: auto;
}

.colour-square.planning {
    background-color: #00c0ef;
}

.colour-square.doing {
    background-color: #0073b7;
}

.colour-square.complete {
    background-color: #3ea377;
}

@media screen and (max-width: 720px) {

    .controls {
        float: none;
    }

    .table {
        display: block;
    }

    .table tbody {
        display: block;
    }

    .table tr {
        padding: 14px 0 7px;
        display: block;
    }

    .table tr:nth-of-type(even) {
        background: #e9e9e9;
    }

    .table thead tr {
        padding: 0;
        height: 6px;
    }

    .table thead, .table th {
        display: none;
        padding: 0;
    }

    .table td {
        padding: 2px 16px;
        display: block;
        margin-bottom: 10px;
        border: none;
    }

    .table td.auto {
        display: none;
    }

    .table td:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }

    .colour-square {
        margin: unset;
    }
}
